{extend name="public:base" /}
{block name="css"}
	{css href="/static/swiper-4.3.3-dist/css/swiper.min.css" /}
	<style>
	/* 幻灯片 */
	.swiper-container {
		margin-top: 50px;
	}
	.swiper-container .swiper-wrapper .swiper-slide img {
		width: 100%;
	}
	@media (max-width: 768px) {
	    .swiper-container .swiper-wrapper .swiper-slide img {
	        height: 200px;
	    }
	}
	#main .bg {
		width: 100%;
		position: absolute;
	}
	#main .btn1 {
		width: 66%;
		vertical-align: bottom;
	}
	#main .btn2 {
		width: 34%;
		vertical-align: bottom;
	}
	#main .button {
		width: 100%;
		position: absolute;
		margin-top: 124%;
	}
	.info {
	    padding: 20px;
	    margin: 8px;
	    border-bottom: 1px solid #eee;
	}
	</style>
{/block}
{block name="js"}
	{js href="/static/swiper-4.3.3-dist/js/swiper.min.js" /}
	<script type="text/javascript">
		$(function() {
			/*var swiper = new Swiper('.swiper-container', {
				loop: true,
			    autoplay: {
			    	delay: 3000,
			        disableOnInteraction: false,
			    },
			    pagination: {
			        el: '.swiper-pagination',
			        clickable: true,
			    }
			});*/
		    var data_list = new Array("工资上交", "房产证上写你名", "保大", "我做家务", "我做饭", "宠你", "护犊子", "不凶人"),
		        i = 0;
		    $('.btn2').on('click', function() {
		        alert(data_list[i]);
		        if (i >= 7) {
		            //$(this).parent().hide();
		            i = parseInt(Math.random() * 8);
		        } else {
		            i++;
		        }
		    });
		    $('.btn1').on('click', function() {
		        alert("目标已拿下");
		    });
		});
	</script>
{/block}
{block name="header"}
{/block}
{block name="main"}
	<!-- <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/images/1.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/2.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/3.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/4.jpg"></div>
        </div> -->
        <!-- Add Pagination -->
    	<!-- <div class="swiper-pagination"></div>
    </div> -->
	<div id="main">
		<div>
			<img src="/static/images/背景图.png" class="bg"/>
			<div class="button">
				<div class="col-xs-12 col-sm-12 text-center btn">
					<img src="/static/images/按钮1.png" class="btn1" />
					<img src="/static/images/按钮2.png" class="btn2"/>
				</div>
			</div>
		</div>
	    <!-- <div class="panel panel-warning">
	        <div class="panel-heading">
	            <h3 class="panel-title">小姐姐，我观察你很久了</h3>
	        </div>
	        <img src="/static/images/pic.jpg">
	        <div class="panel-body">
	            <div class="row">
	                <div class="btn-group btn-group-justified" role="group">
	                    <div class="btn-group" role="group">
	                        <button type="button" class="btn btn-default btn-success">好</button>
	                    </div>
	                    <div class="btn-group" role="group">
	                        <button type="button" class="btn btn-default btn-info">不好</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div> -->
	    <!-- {volist name="list" id="vo"}
	    <div class="info">
	        ID：{$vo.id}
	        <br/> 昵称：{$vo.name}
	        <br/>
	    </div>
	    {/volist} -->
	</div>
{/block}
{block name="footer"}
{/block}