{extend name="public:base" /}
{block name="css"}
	{css href="/static/swiper-4.3.3-dist/css/swiper.min.css" /}
	<style>
	/* 幻灯片 */
	.swiper-container {
		margin-top: 50px;
	}
	.swiper-container .swiper-wrapper .swiper-slide img {
		width: 100%;
	}
	@media (max-width: 768px) {
	    .swiper-container .swiper-wrapper .swiper-slide img {
	        height: 200px;
	    }
	}
	.info {
	    padding: 20px;
	    margin: 8px;
	    border-bottom: 1px solid #eee;
	}
	</style>
{/block}
{block name="js"}
	{js href="/static/swiper-4.3.3-dist/js/swiper.min.js" /}
	<script type="text/javascript">
		$(function() {
			var swiper = new Swiper('.swiper-container', {
				loop: true,
			    autoplay: {
			    	delay: 3000,
			        disableOnInteraction: false,
			    },
			    pagination: {
			        el: '.swiper-pagination',
			        clickable: true,
			    }
			});
		});
	</script>
{/block}

{block name="main"}
	<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/images/1.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/2.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/3.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/4.jpg"></div>
        </div>
        <!-- Add Pagination -->
    	<div class="swiper-pagination"></div>
    </div>
	<div id="main">
	    {volist name="list" id="vo"}
	    <div class="info">
	        ID：{$vo.id}
	        <br/> 昵称：{$vo.name}
	        <br/>
	    </div>
	    {/volist}
	</div>
{/block}