{extend name="public:base" /}
{block name="css"}
	{css href="/static/swiper-4.3.3-dist/css/swiper.min.css" /}
	<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
	<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />
	<style>
	/* 幻灯片 */
	.swiper-container {
		margin-top: 50px;
	}
	.swiper-container .swiper-wrapper .swiper-slide img {
		width: 100%;
	}
	#main .panel {
		margin: 0;
		background: -webkit-linear-gradient(left top, #31afff 0%, #b8a4d2 25%, #4693d2 50%, #98c5bf 75%, #68b163 100%);
		background: -o-linear-gradient(bottom right, #31afff 0%, #b8a4d2 25%, #4693d2 50%, #98c5bf 75%, #68b163 100%);
	    background: -moz-linear-gradient(bottom right, #31afff 0%, #b8a4d2 25%, #4693d2 50%, #98c5bf 75%, #68b163 100%);
	    background: linear-gradient(to bottom right, #31afff 0%, #b8a4d2 25%, #4693d2 50%, #98c5bf 75%, #68b163 100%);
	}
	#main .panel .page-header {
		text-align: right;
		padding: 0 40px 10px 40px;
		margin: 10px 0 20px;
	}
	#main .panel .panel-heading {
		background-color: rgba(255, 255, 255, 0);
		border: none;
	}
	#main .panel .panel-heading select,span {
		text-align: left;
	}
	#main .panel .panel-body div {
		color: #7d2626;
	}
	#main .panel .panel-body .content {
		font-size: 18px;
		margin: 10px 0 25px;
	}
	#main .panel .panel-body .w25 {
		margin-left: 25%;
		padding: 0;
	}
	.pagination>.active>span:hover,.pagination>.active>span {
		background-color: #33b766;
    	border-color: #33b766;
	}
	.pagination>li>a {
		color: #7d2626;
	}
	@media (max-width: 768px) {
	    .swiper-container .swiper-wrapper .swiper-slide img {
	        height: 200px;
	    }
	    #main .panel .panel-heading .form-inline {
	    	text-align: center;
	    }
	    #main .panel .page-header {
	    	text-align: center;
	    }
	    #main .panel .panel-body .content {
	    	font-size: 16px;
	    }
	    #main .panel .panel-body .w25 {
	    	margin: 0;
	    }
	}
	</style>
{/block}
{block name="js"}
	{js href="/static/swiper-4.3.3-dist/js/swiper.min.js" /}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{/block}

{block name="main"}
	<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/images/1.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/2.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/3.jpg"></div>
            <div class="swiper-slide"><img src="/static/images/4.jpg"></div>
        </div>
        <!-- Add Pagination -->
    	<div class="swiper-pagination"></div>
    </div>
	<div id="main">
		<div class="panel panel-default">
			<div class="page-header">
			  	当前位置：<span class="area">江苏南京市</span>
			  	天气：<span class="weather">阴转晴</span>
			</div>
			<div class="panel-heading">
				<form class="form" method="get" action="{:url('')}">
				    <div class="form-inline text-right">
				    	<label class="control-label">
					    	<select id="type" name="type" class="form-control">
					    		<option value="">请选择类型</option>
					    		{volist name="type" id="vo"}
					    		<option value="{$key}" {eq name="Request.get.type" value="$key"}selected{/eq}>{$vo}</option>
					    		{/volist}
					    	</select>
					    </label>
				    	<label class="control-label">
					    	<select id="author" name="author" class="form-control">
					    		<option value="">请选择作者</option>
					    	</select>
					    </label>
				        <label class="control-label">
				    		<input name="search" type="text" class="form-control" placeholder="关键字" />
				    	</label>
				        <button class="btn btn-primary">搜 索</button>
				    </div>
				</form>
			</div>
			<div class="panel-body">
				<center>
					{notempty name="Request.get.type"}
						{switch Request.get.type}
						  	{case 3}
						  		{volist name="list" id="vo"}
						  		<div class="col-xs-12 col-md-12">
						  	  		<h4>{$vo.chapter}</h4>
						  	  		<p class="content text-left col-xs-12 col-md-6 w25">
						  	  			{volist name="vo.paragraphs|json_decode=true" id="v"}
						  	  				{$v}<br/>
						  	  			{/volist}
						  	  		</p>
						  	  	</div>
						  		{/volist}
						  		{$page|raw}
						  	{/case}
						  	{case 4}
						  		{volist name="list" id="vo"}
						  		<div class="col-xs-12 col-md-12">
						  	  		<h4>{$vo.title}</h4>
						  	  		<span>{$vo.chapter} {$vo.section}</span>
						  	  		<p class="content">
						  	  			{volist name="vo.content|json_decode=true" id="v"}
						  	  				{$v}<br/>
						  	  			{/volist}
						  	  		</p>
						  	  	</div>
						  		{/volist}
						  		{$page|raw}
						  	{/case}
						  	{default /}
						  		{volist name="list" id="vo"}
						  	  	<div class="col-xs-12 col-md-12">
						  	  		<h4>{$vo.title}</h4>
						  	  		<span>{$vo.author}</span>
						  	  		<p class="content">{$vo.content|nl2br|raw}</p>
						  	  	</div>
						  	  	{/volist}
						  	  	{$page|raw}
					  	{/switch}
					{/notempty}
					{empty name="Request.get.type"}
						{volist name="list" id="vo"}
					  	<div class="col-xs-12 col-md-12">
					  		<h4>{$vo.title}</h4>
					  		<span>{$vo.author}</span>
					  		<p class="content">{$vo.content|nl2br|raw}</p>
					  	</div>
					  	{/volist}
					  	{$page|raw}
					{/empty}
				</center>
			</div>
		</div>
	</div>
{/block}

{block name="footer-js"}
	<script type="text/javascript">
		$(function() {
			var swiper = new Swiper('.swiper-container', {
				loop: true,
			    autoplay: {
			    	delay: 3000,
			        disableOnInteraction: false,
			    },
			    pagination: {
			        el: '.swiper-pagination',
			        clickable: true,
			    }
			});
			var type = "{$Request.get.type}";
			if(type) {
				$("html").animate({scrollTop:($("#main").offset().top-50)},3000);
			}
			$("#type").select2({
		        allowClear: true,
		        theme: "bootstrap",
		        placeholder: '请选择类型',
		    });
		    $("#type").on("select2:select",function(e) {
		    	$(".form").submit();
		    });
		    $("#type").on("select2:unselect",function(e) {
		    	$(".form").submit();
		    });
			$("#author").select2({
		        allowClear: true,
		        theme: "bootstrap",
		        placeholder: '请选择作者',
		    });
		    setInterval("changeBackGroundColor();", 5000);
		    // 
			getGpsSetWeather("getCurrentPosition");
		});
		function changeBackGroundColor() {
			var A = B = C = D = E = '',
				color = ["#31afff","#b8a4d2","#4693d2","#98c5bf","#68b163"],
				arr = ["right","left","bottom","top","bottom right","bottom left","top right","top left","right top","left top","right bottom","left bottom"],
				seat = arr[Math.floor((Math.random() * arr.length))];
			/*A = "#" + Math.round(Math.random() * 1000000);
			B = "#" + Math.round(Math.random() * 1000000);
			C = "#" + Math.round(Math.random() * 1000000);
			D = "#" + Math.round(Math.random() * 1000000);
			E = "#" + Math.round(Math.random() * 1000000);*/
			A = color[Math.floor((Math.random() * color.length))];
			B = color[Math.floor((Math.random() * color.length))];
			C = color[Math.floor((Math.random() * color.length))];
			D = color[Math.floor((Math.random() * color.length))];
			E = color[Math.floor((Math.random() * color.length))];
			$("#main .panel").css("background","linear-gradient(to "+ seat +", "+ A +" 0%, "+ B +" 25%, "+ C +" 50%, "+ D +" 75%, "+ E +" 100%)");
		}
		function showCityInfo() {
			$.getScript("//webapi.amap.com/maps?v=1.4.10&key=320e1307352105df3c5a98b5da1cb8d9&plugin=AMap.CitySearch",function(response, status) {
			    //实例化城市查询类
			    var citysearch = new AMap.CitySearch();
			    //自动获取用户IP，返回当前城市
			    citysearch.getLocalCity(function(status, result) {
			        if (status === 'complete' && result.info === 'OK') {
			            if (result && result.city) {
			                var cityinfo = result.city;
			                // 根据城市名称获取天气
			                $.ajax({
			                	url: "{:url('Home/Poetry/getWeather')}",
			                	data: {
			                		type: 'city',
				                    city: cityinfo,
				                },
				                type: 'post',
	                			timeout: 86000000,
	                			dataType: 'json',
	                			success: function(data) {
	                				if(data.status)	{
	                					$("#main .panel .page-header .area").text(data.province + data.city);
	                					$("#main .panel .page-header .weather").text(data.weather);
	                				}
	                			}
			                });
			            }
			        }
			    });
			});
		}
		function getGpsSetWeather(type) {
			$.getScript("//webapi.amap.com/maps?v=1.4.10&key=320e1307352105df3c5a98b5da1cb8d9",function(response, status) {
		  		var map = new AMap.Map('container', {
		  		        resizeEnable: true
		  		    });
		  	    AMap.plugin('AMap.Geolocation', function() {
		  	        var geolocation = new AMap.Geolocation({
		  	            enableHighAccuracy: true,//是否使用高精度定位，默认:true
		  	            timeout: 10000,          //超过10秒后停止定位，默认：5s
		  	            buttonPosition: 'RB',    //定位按钮的停靠位置
		  	            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
		  	            zoomToAccuracy: true,   //定位成功后是否自动调整地图视野到定位点
		  	        });
		  	        map.addControl(geolocation);
		  	        if(type == 'getCurrentPosition') {
		  	        	geolocation.getCurrentPosition(function(status,result) {
		  	        	    if(status=='complete') {
		  	        	        onComplete(type, result);
		  	        	    }else{
		  	        	        onError(type, result);
		  	        	    }
		  	        	});
		  	        }else if(type == 'getCityInfo') {
		  	        	geolocation.getCityInfo(function(status,result) {
		  	        	    if(status=='complete') {
		  	        	        onComplete(type, result);
		  	        	    }else{
		  	        	        onError(type, result);
		  	        	    }
		  	        	});
		  	        }
		  	    });
			});
		}
		//解析定位结果
	    function onComplete(type, data) {
	        var gps = '';
	        if(type == 'getCurrentPosition') {
	        	gps += data.position.lng + ',' + data.position.lat;
	        }else if(type == 'getCityInfo') {
	        	gps += data.center.join(',');
	        }
	        alert(gps);
	        // 根据GPS获取天气
            $.ajax({
            	url: "{:url('Home/Poetry/getWeather')}",
            	data: {
            		type: 'gps',
                    gps: gps,
                },
                type: 'post',
    			timeout: 86000000,
    			dataType: 'json',
    			success: function(data) {
    				if(data.status)	{
    					$("#main .panel .page-header .area").text(data.province + data.city + data.district);
    					$("#main .panel .page-header .weather").text(data.weather);
    				}
    			}
            });
	    }
	    //解析定位错误信息
	    function onError(type, data) {
	        console.log('定位失败,原因排查信息:' + data.message);
	        if(type == 'getCurrentPosition') {
	        	getGpsSetWeather("getCityInfo");
	        }else if(type == 'getCityInfo') {
	        	showCityInfo();
	        }
	    }
	</script>
{/block}